body{
    padding: 0px;
    margin: 0px;
    background-image: url(../img/casinoteste.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgb(0, 0, 0);
    
    

}

.title_div{
    display: flex;
    justify-content: center;
}

.title{ 
    font-size: 40px;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
    font-family: 'Roboto', sans-serif;
    background: -webkit-linear-gradient(rgb(124, 107, 12), gold,rgb(175, 161, 29));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Alfa Slab One', cursive;
}



div.table{
    
    height: 500px;
    width: 80%;
    border: solid 20px rgb(191, 96, 30);
    border-radius: 400px;
    background-color: rgb(64, 146, 102);
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    box-shadow: 20px 5px rgb(90, 43, 9) ;
}

div.table_div{
    display: flex;
    justify-content: center;
    
}

.cards{
    margin-top: 200px;
}

.button_div{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.button{
    font-size: large;
    background: -webkit-linear-gradient(rgb(124, 107, 12), gold,rgb(175, 161, 29));
    font-family: 'Alfa Slab One', cursive;
    padding: 15px 32px;
    border-radius: 50px;
    box-shadow: 0 12px 16px ;
}

